# Jupyter Notebook
.ipynb_checkpoints
# Jupyter checkpoints still available and not ignored - adding wildcards
*/.ipynb_checkpoints/*

# .csv data files
TDP_2002_entire.csv
TDP_2003_entire.csv
TDP_2004_entire.csv
TDP_2005_entire.csv
TDP_2006_entire.csv
TDP_2007_entire.csv
TDP_2009_entire.csv
TDP_2010_entire.csv
TDP_2011_entire.csv
TDP_2012_entire.csv
TDP_2013_entire.csv
TDP_2014_entire.csv
TDP_2015_entire.csv
TDP_2016_entire.csv
TDP_2017_entire.csv
